from Moore import options
from HltEfficiencyChecker.config import run_moore_with_tuples
from HltEfficiencyChecker.config import run_allen_in_moore_with_tuples
from HltEfficiencyChecker.config import run_chained_hlt_with_tuples
from RecoConf.reconstruction_objects import reconstruction
from RecoConf.hlt1_allen import allen_gaudi_config as hlt1_configuration

{% if annotated_decay_descriptor is defined %}
decay = "{{ annotated_decay_descriptor }}"
{% else %}
decay = None
{% endif %}
options.ntuple_file = "{{ ntuple_path }}"
level = "{{ job.trigger_level }}"
assert(level == "1" or level == "2" or level == "both")

if level == "1" or level == "both":
    use_allen = True
{% if job.use_moore_as_hlt1 is defined %}
assert level == "1",  "Doesn\'t make sense to run HLT2 with the \"use_moore_as_hlt1\" flag, and only Allen HLT1 should be used for chained HLT1+HLT2."
use_allen &= not {{ job.use_moore_as_hlt1 }}
{% endif %}

{% if job.hlt1_configuration is defined %}
{% set hlt1_sequence = job.hlt1_configuration %}
{% else %}
{% set hlt1_sequence = "hlt1_pp_default" %}
{% endif %}

{% if job.testfiledb_key is defined %}
options.set_input_and_conds_from_testfiledb("{{ job.testfiledb_key }}")
{% endif %}

{% if job.lines_from is defined %}
assert level == "2" or level == "both", "\"lines_from\" key only to be used when running HLT2"
assert("Hlt2Conf" in "{{ job.lines_from }}"), "You can only specify a Hlt2 line at this time from Hlt2Conf. Aborting..."
from {{ job.lines_from }} import all_lines
{% endif %}

{% if job.hlt2_lines_from is defined %}
assert level == "2" or level == "both", "\"hlt2_lines_from\" key only to be used when running HLT2"
assert("Hlt2Conf" in "{{ job.hlt2_lines_from }}"), "You can only specify a Hlt2 line at this time from Hlt2Conf. Aborting..."
from {{ job.hlt2_lines_from }} import all_lines
{% endif %}

{% if job.hlt2_lines_from is defined or job.lines_from is defined %}
def make_lines():
    return [builder() for builder in all_lines.values()]

options.lines_maker = make_lines
{% endif %}

{% if job.reco_from_file is defined %}
reco_from_file = {{ job.reco_from_file }}
{% else %}
reco_from_file = False
{% endif %}

{% if job.run_reconstruction is defined %}
raise DeprecationWarning('The "run_reconstruction" key is now deprecated; the full HLT2 reconstruction runs by default. If you wish to use the reco from file, provide "reco_from_file: True"')
{% endif %}

from RecoConf.global_tools import stateProvider_with_simplified_geom
public_tools = [stateProvider_with_simplified_geom()]
{% if job.hlt2_configuration is defined %}
_hlt2_configuration = "{{job.hlt2_configuration}}"
if level == "1":
    raise ValueError("'hlt2_configuration' key was specified for level = 1 (i.e. you're running HLT1)")

from RecoConf.hlt2_global_reco import reconstruction as _hlt2_reconstruction
if _hlt2_configuration == "without_UT":
    from Hlt2Conf.settings.hlt2_binds import config_pp_2024_without_UT as _hlt2_reco_binds
elif _hlt2_configuration == "latest":
    from Hlt2Conf.settings.hlt2_binds import config_pp_2024 as _hlt2_reco_binds
else:
    raise NotImplementedError("Hlt2 configuration " + _hlt2_configuration + " is not supported. Options are \"latest\" and \"without_UT\".")
{% else %}
if (level == "2" or level == "both") and not reco_from_file:
    raise RuntimeError("Please specify 'hlt2_configuration' key to run hlt2. Possible keys are are \"latest\" and \"without_UT\".")
{% endif %}

{% set keys = ["evt_max", "input_type", "input_files", "simulation", "conddb_tag", "dddb_tag", "input_raw_format", "persistreco_version"] %}

{% for key in keys %}
{% if job[key] is defined %}
options.{{ key }} = {{ "{!r}".format(job[key]) }}
{% endif %}
{% endfor %}

options.scheduler_legacy_mode = False
options.simulation = True

{% if job.debug_mode is defined %}
if {{ job.debug_mode }}:
    from Gaudi.Configuration import DEBUG
    options.output_level = DEBUG
{% endif %}

{% if job.use_old_calo_raw_banks is defined %}
if {{ job.use_old_calo_raw_banks }}:
    from RecoConf.calorimeter_reconstruction import make_digits
    make_digits.global_bind(calo_raw_bank=False)
{% endif %}

{% if job.muon_decoding_version is defined %}
from RecoConf.muonid import make_muon_hits
make_muon_hits.global_bind(geometry_version={{job.muon_decoding_version}})
{% endif %}

if level == "2":
    if not reco_from_file:
        from Hlt2Conf.settings.defaults import get_default_hlt1_filter_code_for_hlt2
        with reconstruction.bind(from_file=reco_from_file),\
            get_default_hlt1_filter_code_for_hlt2.bind(code=""),\
            _hlt2_reco_binds():
            run_moore_with_tuples(
                options, False, decay, public_tools=public_tools)
    else:
        run_moore_with_tuples(
            options, False, decay, public_tools=public_tools)
elif level == "1":
    if use_allen:
        with hlt1_configuration.bind(sequence={{ "{!r}".format(hlt1_sequence) }}):
            run_allen_in_moore_with_tuples(options, decay)
    else:
        run_moore_with_tuples(options, True, decay)
else:
    assert use_allen, "Chained HLT1 and HLT2 should only be used for Allen HLT1."
    from Hlt2Conf.settings.defaults import get_default_hlt1_filter_code_for_hlt2
    with hlt1_configuration.bind(sequence={{ "{!r}".format(hlt1_sequence) }}),\
        get_default_hlt1_filter_code_for_hlt2.bind(code=""),\
        reconstruction.bind(from_file=reco_from_file),\
        _hlt2_reco_binds():

        run_chained_hlt_with_tuples(
            options, decay, public_tools=public_tools)
